---
---

@charset "utf-8";

/* Load skin */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'dark' }}";

/* Load theme */
@import "minimal-mistakes";

/* Sidebar avatar overrides (borrowed pattern) */
.author__avatar {
  width: 180px;
  height: auto;
}

.author__avatar img {
  width: 180px;
  height: auto;
  border-radius: 50%;
}
