---
# Only the main Sass file needs front matter
---

@charset "utf-8";

/* Load the selected skin (dark, air, etc.) */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

/* Load the theme */
@import "minimal-mistakes";

/* Your overrides */
.author__avatar img {
  max-width: 180px;
  border-radius: 50%;
}
